body {
  margin: 0;
  padding: 0;
  background-image: url('../media/stardew-valley-moon-landscape-pixel-art-hd-wallpaper-e90018cd912acd5bc68758cf90c146ad\ \(1\).jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
